
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Add New Credit</h1>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save Credit</button>
                <a href="{% url 'addcredit' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}