{% extends 'base.html' %}
{% load static %}

{% block title %}Home - KGL Website {% endblock %}
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'dash.css' %}">

        {% block content %}    
           <h1>All sales</h1>
           <table>
               <thead>
                   <tr>
                       <th>Product name</th>
                       <th>Tonnage</th>
                       <th>Amount paid</th>
                       <th>Customer's name</th>
                       <th>Sales agent</th>
                       <th>is sold on cash</th>
                       <th>Branch</th>
                       <th><a href="">view</a></th>
                       <th><a href="">delete</a></th>
                       
                       
                       
                   </tr>
               </thead>
               {% for Sales in sales %}
               <tbody>
                   <tr>
                       <td>{{ Sales.product_name }}</td>
                       <td>{{ Sales.tonnage }}kg</td>
                       <td>{{ Sales.amount_paid }}</td>
                       <td>{{ Sales.buyers_name }}</td>
                       <td>{{ Sales.salesagent_name }}</td>
                       <td>{{ Sales.is_sold_on_cash }}</td>
                       <td>{{ Sales.branch }}</td>
                       
                   </tr>
               </tbody>
               {% endfor %}
           </table>
        {% endblock %}
        
    
</body>
</html>
   
