{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTORY MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="{% static 'allsales.css' %}">
    <style>
       

    </style>
  
</head>
<body>
    {% block content %}
    <h1>Summary of produce stocked</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Tonnage</th>
                <th>Cost</th>
                <th>supplier</th>
                {% if user.is_manager or user.is_salesagent%}
                <th>Action</th>
                {% endif %}
                
                
            </tr>
            {% for stock in stocks %}
        </thead>
        <tbody>
            <tr>
                <td>{{ stock.name_of_produce }}</td>
                <td>{{ stock.tonnage }}kgs</td>
                <td> Ugx.{{ stock.cost }}</td>
                <td>{{ stock.name_of_dealer }}</td>
                <td>
                 {% if user.is_manager or user.is_salesagent %}   
                <a href="{% url 'detail' stock.id %}"><input type="submit" value ="View"></a>
               <a href="{% url 'addstock' stock.id %}"><input type="submit" value="Add" class="add-item-button"></a>
                <a href="{% url 'delete_stock' stock_id=stock.id%}"><input type="submit" value="delete" style="background-color:orangered; color: white;"></a>
                {% endif %}
            </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endblock %}
   
</body>
</html>