{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Navigation Bar with Icons</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'dash.css' %}">
</head>
<body>

    <div class="sidebar">
        <h1 style="color:aliceblue;text-align: center;">KGL</h1>
        <a href="#dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="#stock"><i class="fas fa-warehouse"></i> Stock</a>
        <a href="#sales"><i class="fas fa-chart-line"></i> Sales</a>
        <a href="#profit"><i class="fas fa-chart-area"></i> Profit</a>
        <a href="#report"><i class="fas fa-file-alt"></i> Report</a>

        <button class="logout-button"><i class="fas fa-sign-out-alt"></i> Logout</button>
        <br>
        <a href="#" class="admin"><i class="fas fa-user-cog"></i> Admin</a>
    </div>

   
        
    </div>
</body>
</html>