{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                Karibu Groceries Ltd
            </div>
            <div class="list-group list-group-flush">
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="{% url 'allsales' %}" class="list-group-item list-group-item-action">View All Sales</a>
                <a href="{% url 'allstock' %}" class="list-group-item list-group-item-action">View Stock</a>
                <a href="{% url 'receipt' %}" class="list-group-item list-group-item-action">View Receipts</a>
                <a href="{% url 'addcredit' %}" class="list-group-item list-group-item-action">View Credit</a>
                <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Logout</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <h1>Sales Agent Dashboard</h1>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Recent Transactions</h2>
                
                {% if my_sales %}
                <ul>
                    {% for sale in my_sales %}
                    
                        <h6>Product: {{ sale.product_name }}</h6>
                        <h6>Quantity: {{ sale.tonnage }}</h6>
                        <h6>Date: {{ sale.date_and_time }}</h6>
                         <h6>Branch: {{ sale.branch }}</h6>
                         <h6>Price: {{ sale.selling_price }}</h6>
                         <hr>
                         <h6>Amount:{{ total_sales }}</h6>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No recent transactions.</p>
                {% endif %}
                <h1>Total Sales:{{total_sales_amount}} </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
{{ block.super }}
<style>
    .list-group-item.active {
        background-color: #3498db;
        border-color: #3498db;
        color: white;
    }
    .list-group-item:hover {
        background-color: #f0f0f0;
    }
</style>
{% endblock %}