{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <div>
     <a href="{% url 'issue_item' stock.id %}"><input type="submit" value="Sell Item"></a>
     <a href="{% url 'addstock' stock.id %}"><input type="submit" value="Add Item"></a>

    </div>

    <table border="1">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Item name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stock.category_name }}</td>
                <td>{{ stock.item_name }}</td>
                <td>{{ stock.total_quantity }}</td>
                <td> {{ stock.unit_price }}</td>
            </tr>
        </tbody>
    </table>
    <div class="button-container">
        <a href="{% url 'dashboard' %}" class="dashboard-button">
            <i class="fas fa-arrow-left"></i> Back to Dashboard
        </a>
    </div>
    {% endblock %}
</body>
</html>




