


table {
     margin-top: 10px;
    width: 100%; /* Adjust as needed */
    border-collapse: collapse; /* Remove default spacing between cells */
    margin-left: 10px; /* Center the table on the page */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    position: position;
  }

  th, td {
    border: 1px solid #ddd; /* Light gray border for cells */
    padding: 8px;
    text-align: left; /* Align text to the left by default */
  }

  th {
    background-color: #f2f2f2; /* Light gray background for headers */
    font-weight: bold;
    
  }

  tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternating row color */
  }

  tr:hover {
    background-color: #e0e0e0; /* Hover effect */
  }

  .center-text {
    text-align: center;
  }
  
h1{
  text-align:center ;
}
input[type="submit"] {
  background-color: #135a79;
  color: white;
  padding:10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
}
input[type="submit"]:hover {
  background-color: #0056b3;}
  
.back-to-sales-button {
    display: inline-block;  /* Make it behave like a block-level element, but inline */
    padding: 10px 20px;       /* Add padding for spacing */
    background-color:  #135a79;  /* Set a background color (green in this case) */
    color: white;             /* Set text color to white */
    text-decoration: none;    /* Remove the underline */
    border-radius: 5px;      /* Round the corners */
    font-size: 16px;         /* Set the font size */
    transition: background-color 0.3s ease;  /* Add a smooth transition */
    border: none;             /* Remove the border */
    cursor: pointer;    
    margin-left:20px;    /* show a pointer cursor on hover */
}

.back-to-sales-button:hover {
    background-color: #06255e;  /* Darker green on hover */
}

.back-to-sales-button:active {
    background-color: #2b5e2e;
}
.edit-button {
  background-color: #008CBA; /* Blue */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #007ba7; /* Darker blue */
}

.edit-button:active{
  background-color: #00566b;
}